body {
  margin-right: 0px;
  display: grid;
  overflow: hidden;
  margin-right: 60px;
  min-width: 200px;
  max-width: 260px;
}

#clickme  {
  width: 100px;
  height: 100px;
  left: auto;
  right: auto;
  cursor: hand;
}

#clickme:hover {
  cursor: hand;
}

#settingsButton {
  margin-bottom: 40px;
  margin-left: 80px;
}
