body {
  margin-right: 0px;
  display: grid;
  overflow: hidden;
  margin-right: 60px;
}

#clickme  {
  width: 100px;
  height: 100px;
  left: auto;
  right: auto;
  cursor: hand;
}

#clickme:hover {
  cursor: hand;
}
